USE [PokedexDB]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 12/07/2020 23:25:35 ******/
DROP TABLE [dbo].[Pokemon]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 12/07/2020 23:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[HitPoints] [int] NULL,
	[Attack] [int] NULL,
	[Defense] [int] NULL,
	[SpecialAttack] [int] NULL,
	[SpecialDefense] [int] NULL,
	[Speed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pokemon] ([Id], [Name], [Type], [HitPoints], [Attack], [Defense], [SpecialAttack], [SpecialDefense], [Speed]) VALUES (1, N'Bulbasaur', N'Grass,Poison', 45, 49, 49, 65, 65, 45)
INSERT [dbo].[Pokemon] ([Id], [Name], [Type], [HitPoints], [Attack], [Defense], [SpecialAttack], [SpecialDefense], [Speed]) VALUES (2, N'Ivysaur', N'Grass,Poison', 60, 62, 63, 80, 80, 60)
INSERT [dbo].[Pokemon] ([Id], [Name], [Type], [HitPoints], [Attack], [Defense], [SpecialAttack], [SpecialDefense], [Speed]) VALUES (3, N'Venusaur', N'Grass,Poison', 80, 82, 83, 100, 100, 80)
GO
